.box{
    border: 3px solid black;
    width:100%;
    height:125px;
}

#btn{
    background-color: rgb(111, 111, 203);
    width: 300px;
    height: 50px;
    color: white;
    text-align: center;
}

#btn2{
    background-color: rgb(203, 111, 111);
    width: 300px;
    height: 50px;
    color: white;
    text-align: center;
}

#mybox{
    background-color: rgb(111, 203, 111);
    width: 300px;
    height: 300px;
    color: white;
    text-align: center;
    justify-content: center;
    position: relative;
    font-size: 8rem;
}