body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: darkblue;
    font-size: 3.5rem;

}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size: 1.5rem;
    padding: 20px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 250px;
    background-color: rgb(8, 47, 71);
}

.choices button:hover{
    background-color: rgb(12, 75, 114);
    color: white;
}

#player{
    font-size: 2.5rem;
}
#computer{
    font-size: 2.5rem;
}
#result{
    font-size: 5rem;
    margin-top: 20px;
}

#score{
    font-size: 2rem;
    margin-top: 20px;
}