body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(231, 228, 228);
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(97, 93, 93);
    color: white;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: rgb(120, 115, 115);
}

button:active{
    background-color: rgb(140, 135, 135);
}

.opr-btn{
    background-color: rgb(255, 140, 0);
}   

.opr-btn:hover{
    background-color: rgb(255, 165, 0);
}
.opr-btn:active{
    background-color: rgb(255, 180, 0);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;


}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(40, 39, 39);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(97, 93, 93);
    color: white;
}